<!--PC端使用-->
<div class="swiper-container ibanner ibanner-pc por swiper-container-horizontal">

<!--    <div class="wfull-video">-->
<!--        <div class="full-video">-->
<!--            <video id="loadding-video" muted="" autoplay="" src="{pboot:sitetplpath}/img/index/video-pc.mp4"></video>-->
<!--        </div>-->
<!--    </div>-->

    <div class="swiper-wrapper">

        {pboot:slide gid=1 num=3}
        <div class="swiper-slide" style="background-image: url([slide:src]); width: 100%;"
             data-swiper-slide-index="[slide:id]">
            <a href="[slide:link]">
                <div class="ibanner-div">
                    <div class="iban-d1"></div>
                    <div class="iban-d2"></div>
                </div>
            </a>
        </div>
        {/pboot:slide}

    </div>
<!--    <div class="sf-ban-cli"></div>-->
</div>
<div class="w1750 ibanner-span-cont">
    <div class="swiper-pagination ibanner-span ibanner-span-pc swiper-pagination-clickable swiper-pagination-bullets"  style="display: none;">

<!--        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>-->
<!--        <span class="swiper-pagination-bullet"></span>-->
<!--        <span class="swiper-pagination-bullet"></span>-->

        {pboot:slide gid=1 num=3}
        <span class="swiper-pagination-bullet {pboot:if('[nav:scode]'=='{sort:tcode}')}swiper-pagination-bullet-active{/pboot:if}"></span>
        {/pboot:slide}

    </div>
</div>


<!--手机端使用-->
<!--<div class="wfull-video1 ibanner-m swiper-container-horizontal">-->
<!--    <div class="full-video">-->
<!--        <video id="loadding-video" muted="" autoplay="" loop="" playsinline="" onplay="this.style.opacity = 1;" src="{pboot:sitetplpath}/img/index/video-m.mp4" poster=""></video>-->
<!--    </div>-->
<!--</div>-->
<div class="swiper-container ibanner ibanner-m swiper-container-horizontal">
    <div class="swiper-wrapper">
	{pboot:slide gid=1 num=3}
        <div class="swiper-slide" style="background-image: url([slide:src]);">
            <a href="[slide:link]">
                <div class="ibanner-div"></div>
            </a>
        </div>
        {/pboot:slide}

    </div>
<!--    <div class="sf-ban-cli"></div>-->
</div>


<div class="w1750 ibanner-span-cont ibanner-span-cont-m">
    <div class="swiper-pagination ibanner-span ibanner-span-m swiper-pagination-clickable swiper-pagination-bullets">
	{pboot:slide gid=1 num=3}
        <span class="swiper-pagination-bullet {pboot:if('[nav:scode]'=='{sort:tcode}')}swiper-pagination-bullet-active{/pboot:if}"></span>
        {/pboot:slide}
    </div>
</div>
