<div class="awards brandAwardsBox">
    <div class="brandAwardsCon">
        <div class="title">
            <span>品牌奖项</span>
        </div>
        <div class="brandAwards swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_1.png" />
                        <div class="awardText">
                            <span class="text1">2021亿邦动力</span>
                            <span class="text2">新消费·成长TOP100</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_2.png" />
                        <div class="awardText">
                            <span class="text1">2021年度天猫母婴亲子</span>
                            <span class="text2">最具影响力品牌</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_3.png" />
                        <div class="awardText">
                            <span class="text1">2021京东超市宝贝趴</span>
                            <span class="text2">最具潜力店铺奖 创新营销奖</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_4.png?1" />
                        <div class="awardText">
                            <span class="text1">2021京东超市年度亿元俱乐部新增品牌代表</span>
                            <span class="text2">年度最具创新奖</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_5.png" />
                        <div class="awardText">
                            <span class="text1">2021京东母婴洗护行业峰会</span>
                            <span class="text2">母婴洗护行业领袖奖</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/award_6.png" />
                        <div class="awardText">
                            <span class="text1">2021中国新消费品牌Growth50</span>
                            <span class="text2">年度增长力品牌</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var awardsSwiper;

    initAwardsSwiper();

    window.onresize = function(){
        awardsSwiper.destroy();
        initAwardsSwiper();
    }

    function initAwardsSwiper() {
        var clientWidth = $(window).width();
        var slidesPerView = 3;
        if (clientWidth <= 768) slidesPerView = '1.5';
        awardsSwiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            autoplay: 2000, //可选选项，自动滑动
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: slidesPerView,
            coverflow: {
                rotate: 0,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows : false
            }
        });
    }
</script>