<div class="awards brandAwardsBox">
    <div class="brandAwardsCon">
        <div class="title">
            <span>品牌奖项</span>
        </div>
        <div class="brandAwards swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic01.png" />
                        <div class="awardText">
                            <span class="text1">2020年京东金榜</span>
                            <span class="text2">年度婴儿洗护金奖</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic02.png" />
                        <div class="awardText">
                            <span class="text1">2020樱桃大赏-宝宝洗浴洗浴</span>
                            <span class="text2">最佳表现力大奖</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic03.png" />
                        <div class="awardText">
                            <span class="text1">2020年化妆品蓝玫奖</span>
                            <span class="text2">年度最受欢迎品牌</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic04.png" />
                        <div class="awardText">
                            <span class="text1">2020樱桃大赏-婴幼儿洗浴</span>
                            <span class="text2">最佳表现力大奖</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic05.png" />
                        <div class="awardText">
                            <span class="text1">2020天猫母婴亲子榜</span>
                            <span class="text2">年度杰出新品奖</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiperAwards">
                        <img class="awardImg" src="{pboot:sitetplpath}/img/brand/about_pic06.png" />
                        <div class="awardText">
                            <span class="text1">2020 ParentsBest</span>
                            <span class="text2">优选洗护用品</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var awardsSwiper;

    initAwardsSwiper();

    window.onresize = function(){
        awardsSwiper.destroy();
        initAwardsSwiper();
    }

    function initAwardsSwiper() {
        var clientWidth = $(window).width();
        var slidesPerView = 3;
        if (clientWidth <= 768) slidesPerView = '1.5';
        awardsSwiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            autoplay: 2000, //可选选项，自动滑动
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: slidesPerView,
            coverflow: {
                rotate: 0,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows : false
            }
        });
    }
</script>