<div class="brandInfo brandInfoBox">
    <div class="brandModule module0">
        <div class="moduleLeft w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/about/1.png" />
            </div>
        </div>
        <div class="moduleRight w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title" style="font-size: 40px;">红色小象</div>

                <div class="title" style="font-size: 25px;">品牌简介</div>
                <div class="description" style="margin-top: 10px;">
                    红色小象成立于2015年，自2019年起市场份额居首。 
                    以大象之爱为品牌图腾，秉持耐心、责任、守护的品牌精神， 
                    坚持安心品质，立志做中国最好的婴童护理品牌，让成长更安心。
                </div>
                <!-- <div class="line vertical"></div> -->

                <div class="title">品牌故事</div>
                <div class="description" style="margin-top: 10px;">
                   大象之爱是一种耐心的爱、一份沉甸甸的责任、一种漫长岁月里的守护。
                   大象是怀孕时间最久的哺乳动物，需怀胎22个月才能生下近200斤的小象宝宝，并陪伴其成长十年之久。
                </div>
            </div>
        </div>
    </div>
    <div class="brandModule module1">
        <div class="moduleRight w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/about/2.png" />
            </div>
        </div>
        <div class="moduleLeft w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title" style="font-size: 40px;">青少年OU</div>
                <div class="title" style="font-size: 25px;">品牌简介</div>
                <div class="description" style="margin-top: 10px;">
                    红色小象凭借科研实力与守护之爱，推出青少年OU系列，
                    专注解决青春期油痘反复问题，提供温和控油祛痘方案，
                    守护青少年健康成长。
                </div>
<!--                <div class="line horizontal"></div>-->

                <div class="title" style="font-size: 25px;">品牌故事</div>
                <div class="description" style="margin-top: 10px;">
                   青春期是孩子们心理与生理双重变化的阶段，反复的油痘问题令青少年与家长忧虑。
                   青少年OU以科研与爱，帮助青少年从根源解决皮肤问题，专注更重要的事，无忧无虑勇敢做自己。

                </div>
            </div>

        </div>

    </div>
    <div class="brandModule module2">
        <div class="moduleLeft w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/about/3.png" />
            </div>
        </div>
        <div class="moduleRight w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title" style="font-size: 40px;">品牌大事记</div>
                <div class="description" style="margin-top: 10px;">
                    <p>2015年</p>
                    <p>耐心 责任 守护</p>
                    <p>以大象之爱，上美集团创立红色小象品牌</p> <br>
                    <p>2019年</p>
                    <p>成为中国市场份额第一的婴童护理品牌</p>
                    <p>发布益生元南极冰藻霜，引爆全渠道</p> <br>
                    <p>2020年</p>
                    <p>零售额超过人民币15亿元，持续保持中国市场第一</p> <br>
                    <p>2021年</p>
                    <p>推出90安心简护系列，引领婴童护理简护新趋势</p> <br>
                    <p>2022年</p>
                    <p>开启大象果油核心成分基础研究</p> <br>
                    <p>2023年</p>
                    <p>开启分龄护理阶段，大象果油开始应用于多效系列2.0升级</p> <br>
                    <p>2024年</p>
                    <p>创新进阶B6专利成分、大象果油神经酰胺专利</p> 
                    <p>推出青少年系列守护全年龄段孩子成长</p> <br>
                    <p></p>
                </div>
<!--                <div class="line vertical"></div>-->
            </div>
        </div>
    </div>
</div>
