<div class="brandInfo brandInfoBox">
    <div class="brandModule module0">
        <div class="moduleLeft w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/brand/about_pic2.png" />
            </div>
        </div>
        <div class="moduleRight w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title">品牌简介</div>
                <div class="description">
                    红色小象，上海上美化妆品股份有限公司旗下源自日本先端技术的专业母婴护理品牌，创立于2015年。品牌标识源于大象妈妈对小象“持久的母爱与呵护”。红色小象以“科学守护新生”为理念，致力于研发“中国婴幼童及妈妈孕前孕后专业护理产品”，通过日本科技及匠心品质，一站式满足“所有妈妈对爱的挑剔”。2019年，红色小象延伸产品线，打造更多妈妈宝宝都喜欢的全品类产品，根据天猫官方数据显示，红色小象稳居母婴化妆品品类Top1。
                </div>
                <div class="line vertical"></div>
            </div>
        </div>
    </div>
    <div class="brandModule module1">
        <div class="moduleRight w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/brand/about_3.png" />
            </div>
        </div>
        <div class="moduleLeft w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title">品牌故事</div>
                <div class="description">
                    大象妈妈，是陆地上最伟大的妈妈。比人类的月怀胎更久，小象要在母亲腹中孕育22个月才会来到世间。<br />
                    象宝宝往往超过200公斤，这对母体来说是个不小的负担 小象五年左右才能熟练使用自己的鼻子，在妈妈身边待上几年才会离开。在此期间，小象总是被保护在象群中间，享受着母亲和族群 的悉心呵护。<br />
                    红色，是象征幸福和温暖的颜色，也象征着每一位妈妈的爱 象妈妈从孕育的那一刻，就成为了世间最伟大的母亲 我们相信，每位妈妈都愿意用更多的爱与呵护 让宝贝成为世间最幸福的“红色小象”。
                </div>
                <div class="line horizontal"></div>
            </div>

        </div>

    </div>
    <div class="brandModule module2">
        <div class="moduleLeft w40 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandImgBox">
                <img src="{pboot:sitetplpath}/img/brand/about_4.png" />
            </div>
        </div>
        <div class="moduleRight w60 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="brandTextBox">
                <div class="title">品牌大事记</div>
                <div class="description">
                    <p>2015年，红色小象品牌于中国上海创立。</p>
                    <p>2016年，签约明星赵薇为红色小象品牌首位代言人。</p>
                    <p>2016年，红色小象开始投放综艺节目，独家冠名芒果TV《妈妈是超人》，并成为湖南卫视《快乐大本营》特约合作伙伴。</p>
                    <p>2017年，红色小象独家冠名CCTV-8黄金强档剧场。</p>
                    <p>2018年，签约明星林志颖为品牌第二位代言人。</p>
                    <p>2018年，红色小象继续加大综艺节目投放，先后赞助江苏卫视《了不起的孩子》，并冠名湖南金鹰卡通频道《人偶总动员》。</p>
                    <p>2019年，红色小象在行业内首创儿童牛油果植物彩妆，入围天猫小黑盒。</p>
                    <p>2019年，红色小象花露水获美伊大赏TOP·孕婴童类儿童洗护大奖，根据千牛后台数据显示，产品上线至今销量已突破50w支。</p>
                    <p>2019年，根据千牛后台数据显示，红色小象桃叶精华婴儿爽身露占据天猫同品类 TOP1。</p>
                    <p>2020年，签约明星辣妈董璇为品牌星推官。</p>
                    <p>2020年，红色小象益生元南极冰藻系列产品引爆全渠道，备受追捧。</p>
                    <p>2020年，在湖南卫视热播剧《以家人之名》投放硬广，积极活跃品牌形象。</p>
                </div>
                <div class="line vertical"></div>
            </div>
        </div>
    </div>
</div>
