<div class="brandNews brandNewsBox">
    <div class="brandNewsCon wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <div class="title">品牌新闻</div>
        <div class="brandNewsListBox">
            <div class="row">
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/NYQVGu5DBJMJ0RbfKHjuGQ')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_1.jpg" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/NYQVGu5DBJMJ0RbfKHjuGQ" target="_blank">获测评大V和育儿专家推荐，红色小象新品凭什么？</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/06/22</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/QnVbE9Ssve_VqFhskAVWdg')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_2.jpg" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/QnVbE9Ssve_VqFhskAVWdg" target="_blank">上美集团红色小象入选“超级新‘申’代品牌力A计划”</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/10/15</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/VdI_sUBRjBJgpdQUgDE3uA')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_3.jpg" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/VdI_sUBRjBJgpdQUgDE3uA" target="_blank">红色小象x丁香医生联名礼盒上线，专业守护宝宝敏感肌</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/11/08</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/p6HLRb7uzcj1oiufl1lwQQ')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_4.jpg?1" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/p6HLRb7uzcj1oiufl1lwQQ" target="_blank">获老爸评测&五大儿科专家联袂推荐，红色小象有多硬核？</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/09/07</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/UjLZ9SL4zLlzLM8L-aIaGA')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_5.jpg" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/UjLZ9SL4zLlzLM8L-aIaGA" target="_blank">红色小象获2021中国化妆品蓝玫奖最具影响力品牌</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/09/16</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/tDpmWUprhXvyl2jdF3Beaw')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_6.jpg" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/tDpmWUprhXvyl2jdF3Beaw" target="_blank">中国婴童适合的护肤品，听医生专家们怎么说</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2021/06/02</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function jumpLink(link) {
        window.open(link, '_blank');
    }
</script>
