<div class="brandNews brandNewsBox">
    <div class="brandNewsCon wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <div class="title">品牌新闻</div>
        <div class="brandNewsListBox">
            <div class="row">
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/XMUblGImuuV28Fy_bNQSfQ')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_1.png" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/XMUblGImuuV28Fy_bNQSfQ" target="_blank">翻倍增长后，上美集团红色小象又瞄准了1500万孕妈妈</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/09/16</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/K_4rUfgWw9ru3i4dXOxeng')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_2.png" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/K_4rUfgWw9ru3i4dXOxeng" target="_blank">Q2实现120%销售增长，红色小象靠什么逆势长红？</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/5/28</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/Ti7eUZ56CjQogJg0ll647A')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_3.png" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/Ti7eUZ56CjQogJg0ll647A" target="_blank">业绩120%增长，红色小象持续领跑2020母婴赛道！</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/6/1</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/LPI808WKj_OL0eqWqaoA_g')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_4_1.png?1" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/LPI808WKj_OL0eqWqaoA_g" target="_blank">扛起新国货大旗，上美集团斩获金物奖双黄蛋！</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/12/31</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/Xj6xpvCgnBbwNQGJl9maVg')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_5.png" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/Xj6xpvCgnBbwNQGJl9maVg" target="_blank">疫情期间不降反涨，上美集团线上渠道增长107%</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/2/12</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6 col-md-6 col-sm-6" onclick="jumpLink('https://mp.weixin.qq.com/s/KAQytHE-dCgquHmqJDSrEg')">
                    <div class="brandNewsItem">
                        <div class="brandNewsImg">
                            <img src="{pboot:sitetplpath}/img/brand/news_6.png" />
                        </div>
                        <div class="brandNewsText">
                            <p class=""><a href="https://mp.weixin.qq.com/s/KAQytHE-dCgquHmqJDSrEg" target="_blank">类目唯一获奖，上美集团斩获第一财经“年度产品力大奖”</a></p>
                            <div class="detail clearfix">
                                <span class="detailDate pull-left">2020/12/17</span>
                                <span class="detailMore pull-right">查看更多<i class="fa fa-angle-double-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function jumpLink(link) {
        window.open(link, '_blank');
    }
</script>
